 
 <div class="container">
     <h3>Person-1</h3>
    <div [formGroup]="RegistrationForm">
        <label class="m-2">Notification 1:</label>
        <input type="text" formControlName="Input" #message name="not1">
        <div>
        <input type="checkbox" formControlName="checkBox"  name="check">
        <label>  this is important message </label>
        </div>
        <br>
        {{currentInputMessage}}
        <br>
        <button class="btn btn-primary m-2" (click)="sendMessage()">send</button>
    </div>
</div>
