<div class="container">
    <h3 class="headtag">Subscribing Components to Services</h3>
<section class="row">
<div class="float-left col">
<app-notifi1></app-notifi1>
</div>
<div class="float-right col">
<app-notifi2></app-notifi2>
</div>
<div class="float-right col">
    <app-notifi4></app-notifi4>
    </div>
</section>
<br><br>
<section class="row">
<div class="float-left col">
<app-overallnotifi></app-overallnotifi>
</div>
<div class="float-right col">
<app-notifi3></app-notifi3>
</div>
</section>
</div>