 
<div class="container">
    <h2>Important Message</h2>
    <div class="form-group">
        <ul *ngFor="let currentMessage of currentInputMessage">
            <li >{{currentMessage.sender}}{{currentMessage.msg}}</li>
        </ul>
    </div>
</div>